@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@if (Accessor.HttpContext.Session.GetString("User_Name") == null)
{
    <div class="user">
        <a href=@Url.Action("Login", "Site") class="login">
            <svg class="icon-user" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            <p class="text-login">
                Đăng nhập
            </p>
        </a>
    </div>
}
else
{
    <div class="dropdown user">
        <button class="btn dropdown-toggle login" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg class="icon-user" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
            <p class="text-login">
                Xin chào, @Accessor.HttpContext.Session.GetString("User_Name") 
            </p>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="~/Account/UserLogout?url=@(Context.Request.Path)">Đăng xuất</a>
            </li>
        </ul>
    </div>
}
