@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Thêm mới sản phẩm";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="h5-title">Thêm mới sản phẩm</h5>
        <span style="display:none" id="session">@Accessor.HttpContext.Session.GetString("Admin_ID")</span>
        <div class="button">
            <button href="" class="btn btn-primary btn-sm" onclick="createProduct();">
                <i class="flaticon-381-save"></i>
                Lưu
            </button>
            <a href="/Admin/Product/Index" class="btn btn-danger btn-sm">
                <i class="flaticon-381-exit-1"></i>
                Thoát
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row w-100">
            <div class="col-md-9">
                <form>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Tên sản phẩm</label>
                        <div class="form-group">
                            <input id="name" type="text" class="form-control input-default " placeholder="Tên sản phẩm">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Ưu đãi</label>
                        <div class="form-group">
                            <textarea class="form-control" name="newPromotion" id="newPromotion" rows="5" cols="20"></textarea>
                            <i class="text-danger"><strong>* </strong>Vui lòng xuống dòng cho mỗi ưu đãi</i>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Quà tặng</label>
                        <div class="form-group">
                            <textarea class="form-control" name="gift" id="gift" rows="5" cols="5"></textarea>
                            <i class="text-danger"><strong>* </strong>Vui lòng xuống dòng cho mỗi quà tặng</i>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Mô tả</label>
                        <div class="form-group">
                            <textarea class="form-control textarea" name="description" id="description" rows="10" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Thông số kĩ thuật</label>
                        <div class="form-group">
                            <textarea class="form-control textarea" name="specification" id="specification" rows="10" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Chi tiết sản phẩm</label>
                        <div class="form-group">
                            <textarea class="form-control textarea" name="detail" id="detail" rows="10" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Đặc điểm nổi bật</label>
                        <div class="form-group">
                            <textarea class="form-control textarea" name="feature" id="feature" rows="10" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Thông tin bảo hành</label>
                        <div class="form-group">
                            <textarea class="form-control textarea" name="guarantee" id="guarantee" rows="10" cols="80"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Tiêu đề SEO</label>
                        <div class="form-group">
                            <input id="metaTitle" type="text" class="form-control input-default " placeholder="Tiêu đề SEO">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Từ khóa SEO</label>
                        <div class="form-group">
                            <input id="metaKey" type="text" class="form-control input-default " placeholder="Từ khóa SEO">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="mb-2 font-weight-bold">Mô tả SEO</label>
                        <div class="form-group">
                            <input id="metaDesc" type="text" class="form-control input-default " placeholder="Mô tả SEO">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label class="mb-2 font-weight-bold" for="">Ảnh đại diện</label>
                    <div class="">
                        <input id="image" class="control-label" name="" type="file" value="" accept="image/*">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Thể loại </label>
                    <div id="cate" class="form-group">
                        <select id="idCategory" class="form-control default-select">
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Nhãn hiệu </label>
                    <div id="brand" class="form-group">
                        <select id="idBrand" class="form-control default-select">
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Giá nhập</label>
                    <div class="form-group">
                        <input id="imPrice" type="number" class="form-control input-default " placeholder="Giá nhập">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Giá bán</label>
                    <div class="form-group">
                        <input id="price" type="number" class="form-control input-default " placeholder="Giá bán">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Giá khuyến mại</label>
                    <div id="brand" class="form-group">
                        <input id="proPrice" type="number" class="form-control input-default " placeholder="Giá khuyến mại">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Số lượng</label>
                    <div id="brand" class="form-group">
                        <input id="quantity" type="number" class="form-control input-default " placeholder="Số lượng">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2 font-weight-bold">Trạng thái hiển thị</label>
                    <div class="form-group">
                        <select id="active" class="form-control default-select">
                            <option value="1">Hiển thị</option>
                            <option value="0">Không hiển thị</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label class="font-weight-bold col-sm-8 pt-0">Giảm giá</label>
                        <div class="col-sm-4">
                            <div class="custom-control custom-checkbox mb-3 check-xs">
                                <input class="form-check-input" type="checkbox" name="discount" id="discount" value="" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label class="font-weight-bold col-sm-8 pt-0">Sản phẩm nổi bật</label>
                        <div class="col-sm-4">
                            <div class="custom-control custom-checkbox mb-3 check-xs">
                                <input class="form-check-input" type="checkbox" name="hotProduct" id="hotProduct" value="" aria-label="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button id="btn-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicModal" style="display: none;">Basic modal</button>
<!-- Modal -->
<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Danh sách ảnh</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="mb-2 font-weight-bold" for="">Chọn ảnh</label>
                    <div class="">
                        <input class="control-label" id="listImage" name="" type="file" value="" multiple accept="image/*">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-dismiss="modal">Đóng</button>
                <button id="btn-save-image" type="button" class="btn btn-primary" onclick="saveListImg();">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        let productId;
        LoadAllCategories();
        LoadAllBrands();
        $(document).ready(function () {
            
        });
        
        function LoadAllCategories(){
            let Url = "https://localhost:7008/api/Categories";
            $.ajax({
                url: Url,
                method: "GET",
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    console.log(response);
                    $("#cate .show li").each(function () {
                        $(this).remove();
                    });
                    $("#idCategory").append(`<option disabled selected hidden>Vui lòng chọn thể loại</option>`);
                    for (let category of response) {
                        $("#idCategory").append(`<option value="${category.id}">${category.name}</option>`);
                    }
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }

        function LoadAllBrands(){
            let Url = "https://localhost:7008/api/Brands";
            $.ajax({
                url: Url,
                method: "GET",
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    console.log(response);
                    $("#brand .show li").each(function () {
                        $(this).remove();
                    });
                    $("#idBrand").append(`<option disabled selected hidden>Vui lòng chọn nhãn hiệu</option>`);
                    for (let brand of response) {
                        $("#idBrand").append(`<option value="${brand.brandId}">${brand.brandName}</option>`);
                    }
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }

        function createProduct(){
            var fd = new FormData();
            var file = $('#image').prop('files')[0];
            fd.append("Name", $('#name').val().trim());
            fd.append("Description", $('#description').summernote('code'));
            fd.append("IdBrand", $('#idBrand').val() == null ? 0 : $('#idBrand').val());
            fd.append("IdCategory", $('#idCategory').val() == null ? 0 : $('#idCategory').val());
            fd.append("Specification", $('#specification').summernote('code'));
            fd.append("Feature", $('#feature').summernote('code'));
            fd.append("Detail", $('#detail').summernote('code'));
            fd.append("NewPromotion", $('#newPromotion').val());
            fd.append("ImPrice", $('#imPrice').val());
            fd.append("Price", $('#price').val());
            fd.append("ProPrice", $('#proPrice').val());
            fd.append("Quantity", $('#quantity').val());
            fd.append("Guarantee", $('#guarantee').summernote('code'));
            fd.append("Gift", $('#gift').val());
            fd.append("MetaTitle", $('#metaTitle').val());
            fd.append("MetaKey", $('#metaKey').val());
            fd.append("MetaDesc", $('#metaDesc').val());
            fd.append("IsActive", $('#active').val());
            //fd.append("CreatedBy", 4);
            //fd.append("UpdatedBy", 4);
            fd.append("CreatedBy", $("#session").text());
            fd.append("UpdatedBy", $("#session").text());
            fd.append("FileImage", file);
            if ($('#hotProduct').is(':checked')){
                fd.append("IsHotProduct", 1);
            }
            else{
                fd.append("IsHotProduct", 0);
            }
            if ($('#discount').is(':checked')) {
                fd.append("IsDiscount", 1);
            }
            else {
                fd.append("IsDiscount", 0);
            }
            let Url = "https://localhost:7008/api/Products";
            $.ajax({
                url: Url,
                method: 'POST',
                data: fd,
                processData: false,
                contentType: false,
                success: function (response) {
                    productId = response.id;
                    showToastSuccessTopRight("Thêm thành công Sản phẩm: " + $("#name").val() + "!");
                    $("#btn-modal").click();
                },
                error: function (errorMessage) {
                    if(errorMessage.responseText == "e002"){
                        showToastErrorTopRight("Sản phẩm: " + $("#name").val() + " đã tồn tại!");
                    }
                    else if (errorMessage.responseText == "e001"){
                        showToastErrorTopRight("Có lỗi khi thêm mới! Vui lòng liên hệ DEV để được hỗ trợ!");
                    }
                }
            });
        }

        function saveListImg() {
            var fd = new FormData();
            var files = $('#listImage').prop('files');
            fd.append("IdProduct", productId);
            for (let i = files.length - 1; i >= 0; i--) {
                fd.append("FileImage", files[i]);
            }
            let Url = "https://localhost:7008/api/ProductImages/upload-many-images";
            $.ajax({
                url: Url,
                method: 'POST',
                data: fd,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                    console.log(fd);
                    showToastSuccessTopRight("Thêm thành công ảnh cho sản phẩm: " + $("#name").val() + "!", "/Admin/Product/Index");
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }
    </script>
}
