@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Chi tiết danh mục bài viết";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Chi tiết thể loại tin tức</h4>
        <span style="display:none" id="session">@Accessor.HttpContext.Session.GetString("Admin_ID")</span>
        <div>
            <a href="/Admin/NewsCategory/Edit/@ViewBag.Id" class="btn btn-primary btn-back btn-sm">Sửa <i class="fa fa-pencil" style="margin: 3px;"></i></a>
            <button type="button" class="btn btn-danger btn-sm" data-placement="top" onClick="delTrash('@ViewBag.Id');">
                Xóa <i class="fa fa-trash" style="margin: 3px;"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-md">
                <tbody id="detail">
                    <tr>
                        <th><strong>ID</strong></th>
                        <td id="id">@ViewBag.Id</td>
                    </tr>
                    <tr>
                        <th><strong>Tên</strong></th>
                        <td id="name"></td>
                    </tr>
                    <tr>
                        <th><strong>Slug</strong></th>
                        <td id="slug"></td>
                    </tr>
                    <tr>
                        <th><strong>Icon</strong></th>
                        <td id="icon"></td>
                    </tr>
                    <tr>
                        <th><strong>Ghi chú</strong></th>
                        <td id="notes"></td>
                    </tr>
                    <tr>
                        <th><strong>Trạng thái</strong></th>
                        <td id="status"></td>
                    </tr>
                    <tr>
                        <th><strong>Thể loại cha</strong></th>
                        <td id="parentName"></td>
                    </tr>
                    <tr>
                        <th><strong>Tiêu đề SEO</strong></th>
                        <td id="metaTitle"></td>
                    </tr>
                    <tr>
                        <th><strong>Từ khóa SEO</strong></th>
                        <td id="metaKey"></td>
                    </tr>
                    <tr>
                        <th><strong>Mô tả SEO</strong></th>
                        <td id="metaDesc"></td>
                    </tr>
                    <tr>
                        <th><strong>Ngày tạo</strong></th>
                        <td id="createdDate"></td>
                    </tr>
                    <tr>
                        <th><strong>Người tạo</strong></th>
                        <td id="createdBy"></td>
                    </tr>
                    <tr>
                        <th><strong>Ngày sửa</strong></th>
                        <td id="updatedDate"></td>
                    </tr>
                    <tr>
                        <th><strong>Người sửa</strong></th>
                        <td id="updatedBy"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            let Url = 'https://localhost:7008/api/NewsCategories/id?id=' + $("#id").text();

            $.ajax({
                url: Url,
                method: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    let createdAt, updatedAt;
                    if (response.createdDate != null) {
                        dateCreated = new Date(response.createdDate.trim());
                        createdAt = dateCreated.toLocaleString("nl-BE");
                    }
                    else {
                        createdAt = "";
                    }
                    if (response.updatedDate != null) {
                        dateUpdated = new Date(response.updatedDate.trim());
                        updatedAt = dateUpdated.toLocaleString("nl-BE");
                    }
                    else {
                        updatedAt = "";
                    }
                    let activeStatus = (response.isActive == 1 ? "Hiển thị" : "Không hiển thị");
                    $('#status').append(`<span class="badge badge-pill badge-info" style="margin-right: 2px">${activeStatus}</span>`);

                    console.log(response);
                    $('#name').text(response.name);
                    $('#slug').text(response.slug);
                    $('#icon').append(`<img src="/Pictures/Sliders/${response.icon}" alt="${response.slug}" style="width: 150px; height: 80px;">`);
                    $('#notes').text(response.notes == null ? "" : response.notes);
                    $('#parentName').text(response.parentName);
                    $('#metaTitle').text(response.metaTitle == null ? "" : response.metaTitle);
                    $('#metaDesc').text(response.metaDesc == null ? "" : response.metaDesc);
                    $('#metaKey').text(response.metaKey == null ? "" : response.metaKey);
                    $('#createdDate').text(createdAt);
                    $('#createdBy').text(response.createdName);
                    $('#updatedDate').text(updatedAt);
                    $('#updatedBy').text(response.updatedName);
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        });

        function delTrash(id) {
            let URL = "https://localhost:7008/api/NewsCategories/DelTrash/" + id + "?updatedBy=" + $("#session").text();
            $.ajax({
                url: URL,
                method: 'PUT',
                contentType: 'application/json;charset=utf-8',
                dataType: 'text',
                success: function (response) {
                    showToastWarningTopRight("Chuyển thành công Danh mục bài viết ID = " + id + " vào thùng rác!", "/Admin/NewsCategory/Index");
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }
    </script>
}
