@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Chi tiết Slider";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Chi tiết Slider</h4>
        <span style="display:none" id="session">@Accessor.HttpContext.Session.GetString("Admin_ID")</span>
        <div>
            <a href="/Admin/Slider/Edit/@ViewBag.Id" class="btn btn-primary btn-sm btn-back">Sửa <i class="fa fa-pencil" style="margin: 3px;"></i></a>
            <button type="button" class="btn btn-danger btn-sm" data-placement="top" onClick="delTrash('@ViewBag.Id');">
                Xóa <i class="fa fa-trash" style="margin: 3px;"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive-md">
                <tbody id="detail">
                    <tr>
                        <th><strong>Tên</strong></th>
                        <td id="name"></td>
                        <td id="id" style="display:none">@ViewBag.Id</td>
                    </tr>
                    <tr>
                        <th><strong>Url</strong></th>
                        <td id="url"></td>
                    </tr>
                    <tr>
                        <th><strong>Vị trí</strong></th>
                        <td id="position"></td>
                    </tr>
                    <tr>
                        <th><strong>Ảnh</strong></th>
                        <td id="image"></td>
                    </tr>
                    <tr>
                        <th><strong>Trạng thái</strong></th>
                        <td id="status"></td>
                    </tr>
                    <tr>
                        <th><strong>Mô tả</strong></th>
                        <td id="description"></td>
                    </tr>
                    <tr>
                        <th><strong>Ngày tạo</strong></th>
                        <td id="createdDate"></td>
                    </tr>
                    <tr>
                        <th><strong>Người tạo</strong></th>
                        <td id="createdBy"></td>
                    </tr>
                    <tr>
                        <th><strong>Ngày sửa</strong></th>
                        <td id="updatedDate"></td>
                    </tr>
                    <tr>
                        <th><strong>Người sửa</strong></th>
                        <td id="updatedBy"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            let Url = 'https://localhost:7008/api/Sliders/id?id=' + $("#id").text();

            $.ajax({
                url: Url,
                method: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    let createdAt, updatedAt;
                    if (response.createdDate != null) {
                        dateCreated = new Date(response.createdDate.trim());
                        createdAt = dateCreated.toLocaleString("nl-BE");
                    }
                    else {
                        createdAt = "";
                    }
                    if (response.updatedDate != null) {
                        dateUpdated = new Date(response.updatedDate.trim());
                        updatedAt = dateUpdated.toLocaleString("nl-BE");
                    }
                    else {
                        updatedAt = "";
                    }
                    let active = (response.isActive == 1 ? "Hiển thị" : "Không hiển thị");
                    $('#status').append(`<span class="badge badge-pill badge-info" style="margin-right: 2px">${active}</span>`);

                    console.log(response);
                    $('#name').text(response.name);
                    $('#url').text(response.url);
                    $('#position').text(response.position);
                    $('#image').append(`<img src="/Pictures/Sliders/${response.image}" alt="${response.url}" style="width: 150px; height: 80px;">`);
                    $('#description').text(response.description);
                    $('#createdDate').text(createdAt);
                    $('#createdBy').text(response.createdBy);
                    $('#updatedDate').text(updatedAt);
                    $('#updatedBy').text(response.updatedBy);

                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        });

        function delTrash(id) {
            let URL = "https://localhost:7008/api/Sliders/DelTrash/" + id + "?updatedBy=" + $("#session").text();
            $.ajax({
                url: URL,
                method: 'PUT',
                contentType: 'application/json;charset=utf-8',
                dataType: 'text',
                success: function (response) {
                    showToastWarningTopRight("Chuyển thành công Slider ID = " + id + " vào thùng rác!", "/Admin/Slider/Index");
                },
                error: function (errorMessage) {
                    console.log(errorMessage);
                }
            });
        }
    </script>
}